[MASTER]
load-plugins = pylint_django
django-settings-module = core.settings
ignore = migrations
ignore-patterns = ^.*/migrations/.*\.py$, ^.*\\migrations\\.*\.py$
jobs = 0

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-ancestors,
    duplicate-code,
    attribute-defined-outside-init

[FORMAT]
max-line-length = 100
